body{
    background-color: purple;
    color: rgb(87, 200, 252);
}

li{
    font-size: 18px;
    color:pink;
}

#html{
    color: rgb(0, 68, 255);
}
#js{
    color: rgb(187, 0, 255);
}

button{
    background-color: pink;
    padding: 10px 20px; /* ESPAÇO INTERNO */
    margin: 10px; /* ESPAÇO EXTERNO */
    border-radius: 10px; /* BORDA */
    max-width: 100px;
}

span{
    font-size: 20px;
    color: rgb(119, 0, 255);
}

div{
    display: flex;
    flex-direction: column;
}

#acessivel{
display: fixed;
left: 20px;
bottom: 20px;
}